<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>{{title}}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <div class="container-fluid" id="container">
        <a class="navbar-brand">
          <h1>News App</h1>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="/">Home</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-6">
          {% for each in articles %}
          <span class="text-center"><b>{{each['author']}}</b></span>
          
          
        </div>
        <div class="col-6">
          <img class="img-thumbnail" src="{{ each['urlToImage']}}" alt="" />
          
          <span>{{each['description'] }}</span>
          <span><b>Published on:{{each['publishedAt'] }}</b></span>
          <a href="{{each['url']}}">Read more</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
